<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>

<agm-map [latitude]='latitude' [longitude]='longitude' [zoom]='2' (mapClick)='addMarker($event.coords.lat, $event.coords.lng)'>
    <agm-marker *ngFor='let marker of markers' [latitude]='marker.lat' [longitude]='marker.lng' [opacity]='marker.alpha' [markerDraggable]='true' (markerClick)='selectMarker($event)'>
    </agm-marker>
    <agm-rectangle [north]='max("lat")' [east]='max("lng")' [south]='min("lat")' [west]='min("lng")'>
    </agm-rectangle>
</agm-map>
<p *ngIf='selectedMarker'>Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}</p>